<h2>Add Habit</h2>

<form method="post">

<label>Habit name:</label>

<input type="text" name="title" required />

<br /><br />

<label>Priority:</label>

<select name="priority">

<option value="1">Low</option>

<option value="2">Medium</option>

<option value="3">High</option>

</select>

<br /><br />

<button type="submit">Create</button>

</form>

<br />

<a href="/Habit">Back</a>