@model Kyrsova_OOP.Models.Habit

<h2>Edit Habit</h2>

<form method="post">

<input type="hidden" name="id" value="@Model.Id" />

<label>Name</label>

<br>

<input type="text" name="title" value="@Model.Title" />

<br><br>

<button type="submit">Save</button>

</form>

<a href="/Habit">Back</a>