@model Kyrsova_OOP.Models.Habit

<h2>Історія виконання</h2>

<p><b>Звичка:</b> @Model.Title</p>

<p><b>Дата створення:</b> @Model.CreatedDate.ToShortDateString()</p>

<h3>Дати виконання</h3>

@if (Model.Records.Count == 0)
{
<p>Ще немає виконань</p>
}
else
{
<ul>

@foreach (var r in Model.Records)
{
<li>@r.Date.ToShortDateString()</li>
}

</ul>
}

<a href="/Habit">Назад</a>